<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <h2>result page</h2>
        <p>id: </p>
        <p>age: </p>
    </body>
</html>